* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 2.2rem;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  max-width: 500px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  margin: auto;
}

header {
  background-color: orangered;
  padding: 0.5rem 1rem;
  width: 100%;
  color: #fff;
}

.addForm {
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
}

.addForm input[type='text'] {
  padding: 0.7rem 1rem;
  border: none;
  width: 100%;
  min-width: 25rem;
  border-bottom: 2px solid #eee;
  font-size: 1.6rem;
  transition: border-bottom 0.3s;
}

.addForm input[type='text']:focus {
  outline: none;
  border-bottom: 2px solid #777;
  background-color: inherit;
}

.addForm button {
  border: none;
  padding: 0.8rem;
  height: 4.5rem;
  width: 4.5rem;
  font-size: 1.8rem;
  background-color: rgb(0, 128, 0, 0.7);
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.addForm button:hover {
  outline: none;
  background-color: rgb(0, 128, 0);
}

.addForm button:active {
  box-shadow: 0 0.25rem 0.5rem rgb(0, 0, 0, 0.15);
  transform: translateY(2px);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.5rem 0.5rem;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: #eee;
}

.item input[type='checkbox'] {
  text-align: center;
  min-width: 2rem;
  min-height: 2rem;
  cursor: pointer;
  margin-right: 1rem;
}

.item > label {
  font-size: 1.8rem;
  flex-grow: 1;
}

.item svg {
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  color: rgb(255, 69, 0, 0.8);
  cursor: pointer;
  transition: all 0.1s;
}

.item svg:focus,
.item svg:hover {
  color: red;
  outline: none;
}

footer {
  background-color: orangered;
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
  color: #fff;
}

.searchForm {
  padding: 1.2rem 0.8rem;
}

.searchForm input[type='text'] {
  font-size: 1.6rem;
  border: none;
  border: 2px solid #eee;
  border-radius: 0.8rem;
  width: 100%;
  padding: 1.2rem 1.5rem;
  transition: border-bottom 0.2s;
}

.searchForm input[type='text']:focus {
  outline: none;
  border-bottom: 2px solid #777;
}
